<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="images/icons/favicon.png">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Bancom:Error</title>
</head>
<body class="error">
    <div class="error-container">
    <img src="images/icons/error-logo.png" alt="error-logo">
    <h2 style="font-size: 50px;"><%= title %></h2>
    <p style="font-size: 30px;"><%= message %></p>
    <a style="text-decoration: underline; color: white;"href="/"><p style="font-size: 22px;">Back to Bancom</p></a>
    </div>
</body>
</html>
