<%- include('layouts/header'); -%>
<div class="maincart-container">
    <div class="order-container">
        <h3>Shopping Cart</h3>
        <div class="cart-detail">
            <div class="cart-bar">
                <div class="cart-bar-title">Order Id : 1548-521-01</div>
                <div class="cart-bar-title" style="flex:3.3">Date : 01/08/2015</div>
            </div>
            <div class="cart-item">
                <div class="img-holder"><img src="https://dummyimage.com/250/000000/fff" alt=""></div>
                <div class="item">
                    <h4>Details</h4>
                    <div class="order-detail">
                    <p>product name</p><p>product price</p><p>product description</p></div>
                    </div>
                <div class="item">
                    Products have been shipped
                    <div class="subtotal-con">
                        <div class="subtotal-content">
                    </div>
                    </div>
            </div>              
        </div>
    </div>
    <div class="cart-detail">
        <div class="cart-bar">
            <div class="cart-bar-title">Order Id : 1548-521-01</div>
            <div class="cart-bar-title" style="flex:3.3">Date : 01/08/2015</div>
        </div>
        <div class="cart-item">
            <div class="img-holder"><img src="https://dummyimage.com/250/000000/fff" alt=""></div>
            <div class="item">
                <h4>Details</h4>
                <div class="order-detail">
                <p>product name</p><p>product price</p><p>product description</p></div>
                </div>
            <div class="item">
                Products have been shipped
                <div class="subtotal-con">
                    <div class="subtotal-content">
                </div>
                </div>
        </div>
                    
    </div>
    </div>
<%- include('layouts/footer'); -%>
